Repository 7Cav/cScripts, pull requests merged in 2020-02, with the labels that each got.

#560 Updated logging and fixed insigna assignation
  cScripts/CavFnc/cScripts_postInit.sqf
  cScripts/CavFnc/cScripts_preInit.sqf
  cScripts/CavFnc/functions/debug/fn_logError.sqf
  cScripts/CavFnc/functions/debug/fn_logInfo.sqf
  cScripts/CavFnc/functions/debug/fn_logWarning.sqf
  cScripts/CavFnc/functions/init/fn_initACELoadouts.sqf
  cScripts/CavFnc/functions/players/fn_setPlayerRank.sqf
  cScripts/CavFnc/functions/players/fn_setPostInitPlayerSettings.sqf
  cScripts/CavFnc/functions/players/fn_setPreInitPlayerSettings.sqf
Labels: T-Bugfix, T-Enhancement

#563 Medical team update
  cScripts/Loadouts/CfgLoadouts_Bravo.hpp
Labels: T-Loadouts

#564 Updated logs and fixed variable
  cScripts/CavFnc/functions/players/fn_hasCompanyVariable.sqf
  cScripts/CavFnc/functions/systems/fn_addQuickSelection.sqf
  cScripts/CavFnc/functions/systems/fn_addQuickSelectionList.sqf
Labels: T-Enhancement

#558 Radio for charlie
  cScripts/Loadouts/CfgLoadouts_Charlie.hpp
Labels: T-Loadouts

#567 added mission setting change block
  description.ext
Labels: T-Enhancement

#566 Added global checks for mods
  cScripts/CavFnc/cScripts_preInit.sqf
Labels: T-Enhancement, WIP, experimental

#568 Charlie Loadout Updates
  cScripts/CavFnc/functions/logistics/fn_doStarterCrateSupplies.sqf
  cScripts/CavFnc/functions/systems/fn_addQuickSelectionList.sqf
  cScripts/Loadouts/CfgLoadouts_Charlie.hpp
  cScripts/Loadouts/CfgLoadouts_CharlieClass.hpp
  cScripts/Loadouts/CfgLoadouts_Common.hpp
Labels: T-Enhancement, T-Loadouts

#569 Bravo Loadouts
  cScripts/CavFnc/functions/logistics/fn_doStarterCrateSupplies.sqf
  cScripts/CavFnc/functions/systems/fn_addQuickSelectionList.sqf
  cScripts/Loadouts/CfgLoadouts_Bravo.hpp
  cScripts/Loadouts/CfgLoadouts_Common.hpp
Labels: T-Enhancement, T-Loadouts

#565 Loadout revision
  cScripts/Loadouts/script/CfgPoppy.hpp
  cScripts/Loadouts/script/functions/atomics/fn_replaceItems.sqf
  cScripts/Loadouts/script/functions/atomics/fn_replaceRadio.sqf
  cScripts/Loadouts/script/functions/main/fn_setUniqueRadio.sqf
  cScripts/Loadouts/script/functions/script_component.hpp
Labels: T-Enhancement, T-Loadouts

#571 Fixed Missing semicolon
  description.ext
Labels: T-Enhancement, ignore changelog
