Repository 7Cav/cScripts, pull requests merged in 2021-06, with the labels that each got.

#749 Removed unused files
  cScripts/CfgLoadouts.hpp
  cScripts/Loadouts/CfgLoadouts_Bravo.hpp
  cScripts/Loadouts/CfgLoadouts_Charlie.hpp
Labels: T-Cleanup

#748 Fixed errored classnames
  cScripts/Loadouts/CfgLoadouts_Bravo_Viking.hpp
Labels: T-Bugfix, T-Loadouts

#741 Charlie weapons loadout update
  cScripts/CavFnc/functions/logistics/fn_doStarterCrateSupplies.sqf
  cScripts/Loadouts/CfgLoadouts_Charlie_Weapon.hpp
Labels: T-Enhancement, T-Loadouts
