Repository 7Cav/cScripts, pull requests merged in 2023-10, with the labels that each got.

#1040 CBA Performance Adjustments, Medic/doctor perms, TFAR encryption
  cba_settings.sqf
Labels: T-Settings

#1042 Fixed missing then
  cScripts/functions/gear/fn_gear_applyLoadout.sqf
Labels: T-Bugfix, ignore changelog

#1046 Atlas Medical kit Update
  cScripts/Loadouts/CfgLoadouts_Bravo_Atlas.hpp
Labels: T-Loadouts

#1045 Extend the Range of rearm and refuel lines
  cba_settings.sqf
Labels: T-Settings

#1049 Gear Fixes ATLAS, Charlie & PLT Medics
  cScripts/Loadouts/CfgLoadouts_Bravo_Viking.hpp
  cScripts/Loadouts/CfgLoadouts_Charlie_Squad.hpp
  cScripts/functions/init/fn_init_logistics.sqf
Labels: T-Loadouts

#1050 Updates to Staging Zone Crates
  cScripts/functions/init/fn_init_logistics.sqf
Labels: T-Arsenal & Supplies

#1051 Move weapon arsenal whitelists to init_logistics
  cScripts/functions/init/fn_init_logistics.sqf
  cScripts/functions/systems/fn_getArsenalWhitelist.sqf
Labels: T-Arsenal & Supplies

#1053 Updated cba settings as well as loadouts
  cScripts/Loadouts/CfgLoadouts_Charlie_Weapon.hpp
  cba_settings.sqf
Labels: under review, T-Settings

#1054 Updated CBA settings for KAT
  cba_settings.sqf
Labels: T-Settings

#1056 Reduced litter count and disabled gravedigging
  cba_settings.sqf
Labels: T-Settings

#1057 Fixed MAAWS for Bandit-4 and revived redundant mod dependencies
  Compositions/Cav_Bandit_Platoon_Deployment/composition.sqe
  Compositions/Cav_Bandit_Platoon_Deployment/header.sqe
  Compositions/Cav_Misfit_Platoon_Deployment/composition.sqe
  Compositions/Cav_Misfit_Platoon_Deployment/header.sqe
  Compositions/Cav_Stryker_Scout_Platoon/composition.sqe
  Compositions/Cav_Stryker_Scout_Platoon/header.sqe
Labels: T-Compositions

#1058 Fixed issues were the Arsenal was destroyed prematurely
  cScripts/functions/systems/fn_addArsenal.sqf
Labels: T-Bugfix
