Repository 7Cav/cScripts, pull requests merged in 2023-09, with the labels that each got.

#1033 Updated Compositions
  Compositions/Cav_Bandit_Platoon_Deployment/composition.sqe
  Compositions/Cav_Bandit_Platoon_Deployment/header.sqe
  Compositions/Cav_Fixed_Wing_Aviation/composition.sqe
  Compositions/Cav_Fixed_Wing_Aviation/header.sqe
  Compositions/Cav_JTAC_Addon/composition.sqe
  Compositions/Cav_JTAC_Addon/header.sqe
  Compositions/Cav_Misfit_Platoon_Deployment/composition.sqe
  Compositions/Cav_Misfit_Platoon_Deployment/header.sqe
  Compositions/Cav_Rotary_Aviation/composition.sqe
  Compositions/Cav_Rotary_Aviation/header.sqe
  Compositions/Cav_S3_Mission_Controller/composition.sqe
  Compositions/Cav_S3_Mission_Controller/header.sqe
  Compositions/Cav_Stryker_Scout_Platoon/composition.sqe
  Compositions/Cav_Stryker_Scout_Platoon/header.sqe
Labels: T-Compositions

#1025 Updated script header some minor fixes
  cScripts/functions/vehicle/fn_vehicle_addCosmeticSelection.sqf
  cScripts/functions/vehicle/fn_vehicle_addCosmetics.sqf
  cScripts/functions/vehicle/fn_vehicle_addDefaultLoadout.sqf
  cScripts/functions/vehicle/fn_vehicle_addFlagAction.sqf
  cScripts/functions/vehicle/fn_vehicle_addFunctions.sqf
  cScripts/functions/vehicle/fn_vehicle_addFunctionsGlobal.sqf
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
  cScripts/functions/vehicle/fn_vehicle_addPylonSelection.sqf
  cScripts/functions/vehicle/fn_vehicle_addRadio.sqf
  cScripts/functions/vehicle/fn_vehicle_addRegearAction.sqf
  cScripts/functions/vehicle/fn_vehicle_addRepairAction.sqf
  cScripts/functions/vehicle/fn_vehicle_addStagingActions.sqf
  cScripts/functions/vehicle/fn_vehicle_applyLoadout.sqf
  cScripts/functions/vehicle/fn_vehicle_applyTextures.sqf
  cScripts/functions/vehicle/fn_vehicle_getPylon.sqf
  cScripts/functions/vehicle/fn_vehicle_reset.sqf
  cScripts/functions/vehicle/fn_vehicle_setRadio.sqf
  cScripts/functions/vehicle/fn_vehicle_setupPylonCategories.sqf
Labels: T-Enhancement, T-Cleanup

#1031 Ambient enviorment wildlife turned off which gives FPS increase.
  init.sqf
Labels: T-Enhancement

#1034 Equiped RHS UH60 and VTX MH60M with FRIES
  cScripts/functions/vehicle/fn_vehicle_addFunctions.sqf
  cScripts/functions/vehicle/fn_vehicle_addFunctionsGlobal.sqf
Labels: T-Enhancement

#1032 Added ropes to helicopters
  cScripts/functions/init/fn_init_logistics.sqf
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
Labels: T-Vehicle

#1035 Fixed Charlie Weapons Squad MAAWS Team
  Compositions/Cav_Bandit_Platoon_Deployment/composition.sqe
Labels: T-Compositions

#1037 TAC R Public Mission File Compositions
  Compositions/TacR_Public_Deployment/composition.sqe
  Compositions/TacR_Public_Deployment/header.sqe
Labels: T-Compositions

#1036 Charlie wepons kits update
  cScripts/Loadouts/CfgLoadouts_Charlie_Weapon.hpp
  cScripts/functions/init/fn_init_logistics.sqf
Labels: T-Loadouts, T-Arsenal & Supplies

#1038 Abilities are not reset when applying a lodout array or apply a saved loadout
  cScripts/functions/gear/fn_gear_applyLoadout.sqf
Labels: T-Enhancement
