Repository 7Cav/cScripts, pull requests merged in 2024-04, with the labels that each got.

#1155 Removed laser guided rounds and updated Viking-4 81mm mortar to RHS M252
  cScripts/functions/init/fn_init_logistics.sqf
Labels: T-Bugfix, T-Vehicle

#1148 Added DMR Ammo and rebalanced mortar ammo
  cScripts/functions/init/fn_init_logistics.sqf
Labels: T-Enhancement, T-Arsenal & Supplies

#1150 Updated arsenal medical level and roles
  cScripts/Loadouts/CfgLoadouts_Alpha_Rotary.hpp
  cScripts/Loadouts/CfgLoadouts_Bravo_Atlas.hpp
  cScripts/Loadouts/CfgLoadouts_Bravo_Viking.hpp
  cScripts/Loadouts/CfgLoadouts_Charlie_Squad.hpp
  cScripts/functions/init/fn_init_logistics.sqf
  cScripts/functions/systems/fn_getArsenalWhitelist.sqf
Labels: T-Enhancement, T-Loadouts, T-Arsenal & Supplies

#1151 Updated the weapons specific arsenal to add launcher and handgun slots
  cScripts/functions/init/fn_init_logistics.sqf
  cScripts/functions/systems/fn_getArsenalWhitelist.sqf
Labels: T-Enhancement, T-Arsenal & Supplies

#1153 Updated Alpha compositons with the new airframes
  Compositions/6.Cav_Rotary_Aviation/composition.sqe
  Compositions/6.Cav_Rotary_Aviation/header.sqe
  Compositions/7.Cav_Fixed_Wing_Aviation/composition.sqe
  Compositions/7.Cav_Fixed_Wing_Aviation/header.sqe
Labels: T-Compositions

#1149 Added Plotting board to Mortar kits and Whitelist
  cScripts/Loadouts/CfgLoadouts_Bravo_Viking.hpp
  cScripts/Loadouts/CfgLoadouts_Charlie_Weapon.hpp
  cScripts/functions/init/fn_init_logistics.sqf
Labels: T-Loadouts, T-Arsenal & Supplies

#1158 Removed "medicGear" from whitelist variables again
  cScripts/functions/systems/fn_getArsenalWhitelist.sqf
Labels: T-Cleanup, ignore changelog

#1157 Changed settings code to be in its own sqf file for easier readability
  cScripts/cScripts_preInit.sqf
  cScripts/initSettings.inc.sqf
Labels: T-Enhancement

#1156 Updated Stryker Dragoon crates and added new MRAPs for Viking
  cScripts/Loadouts/CfgLoadouts_Alpha_FixedWing.hpp
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
Labels: T-Vehicle

#1132 Added ability to show all items in the staging arsenal
  cScripts/functions/systems/fn_addArsenal.sqf
  cScripts/initSettings.inc.sqf
Labels: T-Enhancement, needs testing, T-Settings

#1161 Fixed issues were all loadouts as well as the arsenal being unfiltered
  cScripts/initSettings.inc.sqf
Labels: T-Bugfix

#1164 Updated staging zone boxes to limit Staging zone loadouts to Company
  Compositions/1.Cav_Viking_Platoon/composition.sqe
  Compositions/2.Cav_Bandit_Platoon/composition.sqe
  Compositions/3.Cav_Misfit_Platoon/composition.sqe
  Compositions/4.ATLAS_Platoon/composition.sqe
  Compositions/6.Cav_Rotary_Aviation/composition.sqe
  Compositions/7.Cav_Fixed_Wing_Aviation/composition.sqe
Labels: T-Compositions

#1168 Updated MH-47G to the Easy Action version
  Compositions/6.Cav_Rotary_Aviation/composition.sqe
Labels: T-Compositions

#1170 Fixed TFAR radio duplication bug
  cScripts/cScripts_preInit.sqf
  cScripts/functions/gear/fn_gear_saveLoadout.sqf
  cScripts/functions/systems/fn_filterUnitLoadout.sqf
Labels: T-Bugfix

#1135 Added new pylon stryker dragoon loadouts with 78rnd magazines
  cScripts/functions/vehicle/fn_vehicle_addCosmeticSelection.sqf
  cScripts/functions/vehicle/fn_vehicle_addCosmetics.sqf
  cScripts/functions/vehicle/fn_vehicle_addDefaultLoadout.sqf
  cScripts/functions/vehicle/fn_vehicle_addFunctions.sqf
  cScripts/functions/vehicle/fn_vehicle_addFunctionsGlobal.sqf
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
  cScripts/functions/vehicle/fn_vehicle_getPylon.sqf
  cScripts/functions/vehicle/fn_vehicle_setupPylonCategories.sqf
Labels: needs approval [bravo], Require later CavAddon, T-Vehicle

#1163 Updated Kits for Charlie
  cScripts/Loadouts/CfgLoadouts_Charlie_Squad.hpp
  cScripts/Loadouts/CfgLoadouts_Special.hpp
Labels: T-Enhancement, T-Loadouts

#1154 Added platoons to the loadout system.
  cScripts/CfgFunctions.hpp
  cScripts/Loadouts/CfgLoadouts_Alpha.hpp
  cScripts/Loadouts/CfgLoadouts_Alpha_FixedWing.hpp
  cScripts/Loadouts/CfgLoadouts_Alpha_Rotary.hpp
  cScripts/Loadouts/CfgLoadouts_Bravo_Atlas.hpp
  cScripts/Loadouts/CfgLoadouts_Bravo_Viking.hpp
  cScripts/Loadouts/CfgLoadouts_Common.hpp
  cScripts/functions/gear/fn_gear_applyLoadout.sqf
  cScripts/functions/init/fn_init_aceArsenal.sqf
  cScripts/functions/init/fn_init_logistics.sqf
  cScripts/functions/players/fn_player_getOrganization.sqf
  cScripts/functions/players/fn_player_getPlatoon.sqf
  cScripts/functions/players/fn_player_setCompany.sqf
  cScripts/functions/players/fn_player_setOrganization.sqf
  cScripts/functions/players/fn_unit_getVariables.sqf
  cScripts/functions/systems/fn_addLoadoutSelection.sqf
  cScripts/functions/systems/fn_allowLoadout.sqf
  cScripts/functions/systems/fn_getArsenalWhitelist.sqf
  cScripts/functions/systems/fn_setupLoadoutSelection.sqf
Labels: T-Enhancement, T-Loadouts, T-Arsenal & Supplies

#1159 Updated CBA settings for ACE3 3.17.0
  cba_settings.sqf
Labels: T-Enhancement, T-Settings

#1165 Added alternative function setCargo that replace cargo and addCargo that append to the cargo container
  cScripts/CfgFunctions.hpp
  cScripts/functions/logistics/fn_addCargo.sqf
  cScripts/functions/logistics/fn_createCargoCrate.sqf
  cScripts/functions/logistics/fn_doFieldHospital.sqf
  cScripts/functions/logistics/fn_doStarterCrateSupplies.sqf
  cScripts/functions/logistics/fn_doSupplyCrate.sqf
  cScripts/functions/logistics/fn_setCargo.sqf
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
Labels: T-Enhancement

#1172 Added missing "force force"
  cba_settings.sqf
Labels: T-Cleanup, ignore changelog, T-Settings

#1173 Fixed missing quotes in fn_vehicle_addInventory
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
Labels: T-Bugfix, ignore changelog

#1174 Added inventory to SOAR chinook
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
Labels: T-Vehicle

#1177 Added possible fix for arsenal whitelist were not created on first load in to server
  cScripts/functions/systems/fn_getArsenalWhitelist.sqf
Labels: T-Bugfix

#1178 Fixed classnames for pistol flashlights
  cScripts/functions/init/fn_init_logistics.sqf
Labels: T-Bugfix

#1181 Fixed missions now allow to have custom difficulty as well as veteran
  cScripts/functions/init/fn_init_message.sqf
Labels: T-Enhancement

#1179 Added fallback recreate for the arsenal when it is not initzialy created
  cScripts/functions/systems/fn_addArsenal.sqf
  cScripts/functions/systems/fn_getArsenalWhitelist.sqf
Labels: T-Enhancement, T-Bugfix

#1183 Updated Stryker Inventory and Arsenal
  cScripts/functions/init/fn_init_logistics.sqf
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
Labels: T-Enhancement, T-Arsenal & Supplies, T-Vehicle

#1184 Added role for stryker crew and fixed Charlie DMR loadout
  cScripts/Loadouts/CfgLoadouts_Bravo_Viking.hpp
  cScripts/Loadouts/CfgLoadouts_Charlie_Squad.hpp
  cScripts/functions/init/fn_init_logistics.sqf
  cScripts/functions/systems/fn_getArsenalWhitelist.sqf
Labels: T-Loadouts, T-Arsenal & Supplies

#1185 Updated chemlights before I get yelled at by battalion
  cScripts/functions/init/fn_init_logistics.sqf
Labels: T-Arsenal & Supplies

#1189 Updated MH-47 Support for Jump Script
  cScripts/functions/mission/fn_addLineJump.sqf
Labels: T-Bugfix, T-Vehicle
