Repository 7Cav/cScripts, pull requests merged in 2024-02, with the labels that each got.

#1138 Updated CBA_Settings to Disabled Artillery Computer
  cba_settings.sqf
Labels: T-Settings

#1139 Added disable and enabled to allowed pr title
  tools/checkPullRequestTitle.sh
Labels: ignore changelog, T-Tool

#1137 Changed player arsenal whitelist to be created on loadout application instead of each time arsenal is opened
  cScripts/functions/gear/fn_gear_applyLoadout.sqf
  cScripts/functions/init/fn_init_aceArsenal.sqf
  cScripts/functions/systems/fn_addArsenal.sqf
Labels: T-Enhancement, T-Arsenal & Supplies

#1134 Added new marksman optics and flashlights
  cScripts/Loadouts/CfgLoadouts_Bravo_Viking.hpp
  cScripts/Loadouts/CfgLoadouts_Charlie_Squad.hpp
  cScripts/functions/init/fn_init_logistics.sqf
Labels: T-Loadouts, T-Arsenal & Supplies
