Repository 7Cav/cScripts, pull requests merged in 2024-05, with the labels that each got.

#1191 Improved code quality for the the Halo and Line Jump script
  cScripts/functions/mission/fn_addHaloJump.sqf
  cScripts/functions/mission/fn_addLineJump.sqf
Labels: T-Enhancement

#1125 Changed pylon and logistics system to utilize separate sqf files
  cScripts/CfgFunctions.hpp
  cScripts/cScripts_logistics.sqf
  cScripts/cScripts_preInit.sqf
  cScripts/cScripts_pylons.sqf
  cScripts/functions/init/fn_init_logistics.sqf
  cScripts/functions/init/fn_init_pylons.sqf
  cScripts/functions/logistics/fn_logistics_getContainer.sqf
  cScripts/functions/systems/fn_getIcon.sqf
  cScripts/functions/vehicle/fn_vehicle_addDefaultLoadout.sqf
  cScripts/functions/vehicle/fn_vehicle_addPylonSelection.sqf
  cScripts/functions/vehicle/fn_vehicle_getPylon.sqf
  cScripts/functions/vehicle/fn_vehicle_getPylonIcon.sqf
  cScripts/functions/vehicle/fn_vehicle_getPylonLoadout.sqf
  cScripts/functions/vehicle/fn_vehicle_getPylonName.sqf
  cScripts/functions/vehicle/fn_vehicle_setupPylonCategories.sqf
Labels: T-Enhancement, needs testing

#1193 Fixed pylons not loading
  cScripts/CfgFunctions.hpp
  cScripts/cScripts_pylons.sqf
  cScripts/functions/vehicle/fn_vehicle_addDefaultLoadout.sqf
Labels: T-Bugfix, T-Vehicle

#1194 Fixed PVS-31 classnames after USP update
  cScripts/Loadouts/CfgLoadouts_Bravo_Atlas.hpp
  cScripts/cScripts_logistics.sqf
Labels: T-Bugfix, T-Loadouts, T-Arsenal & Supplies

#1196 Updated settings for ACE Update
  cba_settings.sqf
Labels: T-Settings

#1195 Fixed undefined variables
  cScripts/functions/init/fn_init_pylons.sqf
Labels: T-Enhancement, T-Bugfix
