Repository 7Cav/cScripts, pull requests merged in 2024-03, with the labels that each got.

#1144 Added MH-47G to vehicles module
  cScripts/functions/vehicle/fn_vehicle_addFunctions.sqf
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
Labels: T-Enhancement, T-Vehicle

#1143 Added a unified resupply module
  cScripts/CfgFunctions.hpp
  cScripts/functions/init/fn_init_zenModuels.sqf
  cScripts/functions/logistics/fn_doStarterCrateSupplies.sqf
  cScripts/functions/logistics/fn_doSupplyCrate.sqf
  cScripts/functions/mission/fn_doSupplyCrate.sqf
  cScripts/functions/modules/fn_zenModule_createSupplyCrate.sqf
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
  cScripts/script_macros.hpp
Labels: T-Enhancement, T-Cleanup, needs testing

#1140 Updated and seperated vehicle inventory for charlie vehicles
  cScripts/functions/init/fn_init_logistics.sqf
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
Labels: T-Vehicle

#1105 Added ability to allow loadouts to be altered for ai units
  cScripts/cScripts_preInit.sqf
  cScripts/functions/gear/fn_gear_preInit.sqf
Labels: T-Enhancement, experimental

#1146 Fixed missing quotes in HMMWV inventory getter
  cScripts/functions/systems/fn_getArsenalWhitelist.sqf
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
Labels: T-Bugfix, ignore changelog, T-Vehicle
