Repository 7Cav/cScripts, pull requests merged in 2024-08, with the labels that each got.

#1222 Added better handling for offline checks on player logging to prevent empty object
  cScripts/functions/init/fn_init_eventHandlers.sqf
Labels: T-Bugfix

#1223 Updated TFAR range performance settings.
  cba_settings.sqf
Labels: T-Settings

#1197 Added emergency Fuel Tank for strykers
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
Labels: T-Enhancement, T-Vehicle
