Repository 7Cav/cScripts, pull requests merged in 2024-10, with the labels that each got.

#1234 Updated CBA settings KAT
  cba_settings.sqf
Labels: T-Settings

#1229 Updated Charlie co Loadouts/Whitelist & Compositions
  Compositions/2.Cav_Bandit_Platoon/composition.sqe
  Compositions/3.Cav_Misfit_Platoon/composition.sqe
  cScripts/Loadouts/CfgLoadouts_Charlie_Squad.hpp
  cScripts/Loadouts/CfgLoadouts_Charlie_Weapon.hpp
  cScripts/cScripts_logistics.sqf
  cScripts/functions/vehicle/fn_vehicle_addInventory.sqf
Labels: T-Loadouts, T-Compositions, T-Vehicle

#1236 Added missing winter camo for helmets
  cScripts/cScripts_logistics.sqf
Labels: T-Arsenal & Supplies

#1237 Fixed missing genadiers in Viking Compositions
  Compositions/1.Cav_Viking_Platoon/composition.sqe
Labels: T-Bugfix, T-Loadouts

#1238 Fixed slotting order Viking
  Compositions/1.Cav_Viking_Platoon/composition.sqe
Labels: T-Bugfix, ignore changelog, T-Compositions

#1239 Updated unit medical equipment to mirror KAT update
  cScripts/Loadouts/CfgLoadouts_Bravo_Atlas.hpp
  cScripts/Loadouts/CfgLoadouts_Bravo_Viking.hpp
  cScripts/Loadouts/CfgLoadouts_Charlie_Squad.hpp
  cScripts/cScripts_logistics.sqf
Labels: T-Loadouts, T-Arsenal & Supplies

#1235 Updated cba settings to reflect current mode states
  cba_settings.sqf
Labels: T-Settings

#1240 Changed so CI are now synct and handled smarter for forks
  .github/workflows/testing.yml
Labels: ignore changelog, T-Tool

#1241 Fixed grammar when loadout is saved
  cScripts/functions/gear/fn_gear_saveLoadout.sqf
Labels: T-Bugfix

#1242 Fixed ATLAS team lead wrong equipment
  cScripts/Loadouts/CfgLoadouts_Bravo_Atlas.hpp
Labels: T-Loadouts

#1245 Fixed bad class colon warnings
  cScripts/Loadouts/CfgLoadouts_Special.hpp
Labels: T-Enhancement

#1243 Updated Bravo supply and Arsenal with new medical equipment
  cScripts/cScripts_logistics.sqf
Labels: T-Arsenal & Supplies

#1247 Fixed grammar and spelling in multiple files
  cScripts/functions/civ/fn_civ_init.sqf
  cScripts/functions/gear/fn_gear_selectLoadout.sqf
  cScripts/functions/gear/fn_gear_setupRadios.sqf
  cScripts/functions/init/fn_init_skillAdjustment.sqf
  cScripts/functions/modules/fn_zenModule_callEndex.sqf
  cScripts/functions/modules/fn_zenModule_enableUnitSimulation.sqf
  cScripts/functions/modules/fn_zenModule_resetPlayerRadio.sqf
  cScripts/functions/players/fn_player_setOrganization.sqf
  cScripts/functions/players/fn_setRadioChannel.sqf
  cScripts/functions/systems/fn_addObjectToCurator.sqf
  cScripts/functions/systems/fn_isValidFaction.sqf
  cScripts/functions/vehicle/fn_vehicle_addCosmeticSelection.sqf
  cScripts/functions/vehicle/fn_vehicle_addRegearAction.sqf
  cScripts/functions/vehicle/fn_vehicle_addRepairAction.sqf
  cScripts/functions/vehicle/fn_vehicle_applyLoadout.sqf
  cScripts/functions/vehicle/fn_vehicle_setRadio.sqf
Labels: T-Enhancement

#1250 Updated Setting that gives Microdagr on respawn in the clock slot
  cba_settings.sqf
Labels: T-Settings

#1249 Updated C Co Loadouts
  cScripts/Loadouts/CfgLoadouts_Charlie_Squad.hpp
  cScripts/Loadouts/CfgLoadouts_Charlie_Weapon.hpp
  cScripts/cScripts_logistics.sqf
Labels: T-Loadouts

#1248 Changed carrying and dragging capability
  init.sqf
Labels: T-Enhancement
