Repository 7Cav/cScripts, pull requests merged in 2024-12, with the labels that each got.

#1255 Added Death & Hit reactions CBA Settings
  cba_settings.sqf
Labels: T-Settings

#1258 Changed Medical loadouts equipment ratios
  cScripts/Loadouts/CfgLoadouts_Bravo_Atlas.hpp
  cScripts/cScripts_logistics.sqf
Labels: T-Loadouts, T-Arsenal & Supplies

#1254 Updated Charlie Machinegunner loadout
  cScripts/Loadouts/CfgLoadouts_Charlie_Weapon.hpp
Labels: T-Loadouts

#1261 Adjusted hearing settings and made ringing optional
  cba_settings.sqf
Labels: T-Settings
